:root {
  --primary: #272c33;
  --secondary: #e32652; }

body {
  margin: 0;
  padding: 0;
  font-family: Figtree, IranSans; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  text-transform: capitalize; }

input:focus {
  box-shadow: none !important; }

.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }

.slider img {
  width: 100%; }

.btn {
  border: none !important; }

.dropdown-toggle:after {
  display: none; }

.dropdown-menu {
  text-align: left;
  border: none;
  overflow: hidden;
  max-width: 400px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
  .dropdown-menu a {
    white-space: pre-wrap;
    padding: 0.6rem;
    color: inherit !important; }
    .dropdown-menu a:active {
      background-color: var(--bs-dropdown-link-hover-bg); }
  .dropdown-menu.category-dropdown button {
    background-color: var(--primary) !important;
    color: white !important;
    padding: 0.8rem;
    border-radius: 0.5rem; }
  .dropdown-menu.search-dropdown ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .dropdown-menu.search-dropdown ul li a:after {
      content: '\f054';
      font-family: "Font Awesome 6 Pro";
      font-size: 0.6rem; }
  .dropdown-menu.category-dropdown .dropdown-body, .dropdown-menu.search-dropdown .dropdown-header {
    border-bottom: 1px solid var(--bs-dropdown-link-hover-bg); }
  .dropdown-menu .dropdown-body {
    max-height: 65vh; }
  .dropdown-menu .dropdown-list {
    overflow-y: auto;
    flex-wrap: nowrap; }

.offcanvas ul a {
  padding: 0.6rem;
  display: block; }

@media (max-width: 540px) {
  .CategoryPickerTabList {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto; } }
.CategoryPickerTabList {
  gap: 1rem;
  display: flex;
  justify-content: center; }
  .CategoryPickerTabList button {
    background-color: #eee !important;
    padding: 0.7rem 1rem;
    text-transform: capitalize; }
    .CategoryPickerTabList button.active {
      background-color: transparent !important;
      border: 1px solid var(--secondary) !important;
      color: var(--secondary); }
  .CategoryPickerTabList i {
    margin-right: 1rem; }

.trendingSwiper, .cookSwiper, .reviewsSwiper {
  padding-bottom: 2.5rem; }

.video-wrapper, .trendingSlide {
  overflow: hidden; }
  .video-wrapper:after, .trendingSlide:after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #191c21 0, rgba(25, 28, 33, 0.5) 50%, rgba(25, 28, 33, 0) 90%) 50% no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

.trendingSlide {
  border-radius: 1rem;
  position: relative; }
  .trendingSlide .trendingSlideContent {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center; }

.separator {
  width: 1rem;
  height: 4px;
  background: white; }

.swiper-button-prev, .swiper-button-next {
  color: white;
  z-index: 10;
  background: var(--primary);
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0; }
  .swiper-button-prev:after, .swiper-button-next:after {
    content: '' !important; }
  .swiper-button-prev:hover, .swiper-button-next:hover {
    filter: contrast(0.8); }

.trending-swiper .trendingSwiper, .trending-swiper .cookSwiper, .cook-swiper .trendingSwiper, .cook-swiper .cookSwiper {
  overflow: visible; }
.trending-swiper .swiper-button-prev, .trending-swiper .swiper-button-next, .cook-swiper .swiper-button-prev, .cook-swiper .swiper-button-next {
  position: relative; }
  .trending-swiper .swiper-button-prev:after, .trending-swiper .swiper-button-next:after, .cook-swiper .swiper-button-prev:after, .cook-swiper .swiper-button-next:after {
    content: ''; }

.swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  border-radius: 10px; }
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 1.5rem;
    background-color: var(--secondary); }

.explore-btn {
  padding: 0.8rem 2rem;
  color: white !important;
  border-radius: 10px;
  text-transform: capitalize;
  background: var(--primary); }

.site-title {
  font-weight: bold; }

.site-title, .see-more-btn {
  text-transform: capitalize;
  font-size: 1.1rem; }

.see-more-btn {
  color: var(--primary); }

.BusinessBanner {
  position: relative;
  display: flex;
  align-items: center; }
  .BusinessBanner .business-banner-img {
    z-index: 1; }
    .BusinessBanner .business-banner-img img {
      object-fit: cover; }
  .BusinessBanner .businessBannerContent-text {
    width: 22rem; }
  .BusinessBanner .businessBannerContent {
    position: relative;
    display: flex;
    align-items: center; }
    .BusinessBanner .businessBannerContent h1 {
      text-transform: uppercase;
      letter-spacing: -2px; }
    .BusinessBanner .businessBannerContent a {
      padding: 0.8rem 2rem;
      color: white !important;
      border-radius: 10px;
      text-transform: capitalize;
      font-weight: bold; }
      .BusinessBanner .businessBannerContent a.btn {
        background-color: var(--secondary); }
  .BusinessBanner .business-banner-bg {
    width: 100%;
    background: var(--primary);
    position: absolute;
    border-radius: 1rem;
    z-index: 0; }

@media (max-width: 576px) {
  .business-banner-img {
    width: 45%; }

  .BusinessBanner .businessBannerContent-text {
    width: 80%;
    text-align: center; } }
@media (min-width: 576px) {
  .business-banner-img {
    height: 240px; }

  .BusinessBanner .businessBannerContent-text {
    width: 22rem; } }
@media (min-width: 768px) {
  .business-banner-img {
    height: 310px; }

  .business-banner-bg {
    height: 290px; } }
@media (min-width: 960px) {
  .business-banner-img {
    height: 410px; }

  .business-banner-bg {
    height: 366px; } }
@media (min-width: 1200px) {
  .business-banner-img {
    height: 500px; }

  .business-banner-bg {
    height: 412px; } }
.review-content .review-content-text {
  background-color: var(--primary);
  color: white;
  height: 330px;
  min-height: 300px;
  z-index: 1; }
  .review-content .review-content-text blockquote {
    font-size: 1.3rem; }

@media (min-width: 992px) {
  .review-content .review-content-text {
    padding: 4rem; }
    .review-content .review-content-text blockquote {
      font-size: 1.3rem; } }
@media (max-width: 992px) {
  .review-content .review-content-text {
    padding: 3rem; }
    .review-content .review-content-text blockquote {
      font-size: 1.1rem; } }
@media (min-width: 768px) {
  .review-content-img img, .review-content-text {
    border-radius: 1rem; }

  .review-content-text {
    margin-right: -7rem; } }
@media (max-width: 768px) {
  .review-content {
    border-radius: 1rem;
    overflow: hidden; }
    .review-content .review-content-text {
      padding: 2rem; }

  .review-content-img img {
    height: 10rem;
    object-fit: cover; }

  .business-banner-bg {
    height: 100%;
    margin-top: 3rem; } }
.accordion-title {
  font-size: 1.2rem;
  text-transform: capitalize; }

#faqAccordion .accordion-item {
  margin-bottom: 5px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer; }
  #faqAccordion .accordion-item:hover {
    opacity: 0.9; }
  #faqAccordion .accordion-item .accordion-button {
    background: transparent;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: none;
    padding: 1.2rem;
    white-space: nowrap; }
    #faqAccordion .accordion-item .accordion-button:focus {
      box-shadow: none; }
    #faqAccordion .accordion-item .accordion-button:after {
      content: '\f078';
      font-family: "Font Awesome 6 Pro";
      background: none; }
    #faqAccordion .accordion-item .accordion-button:not(.collapsed)::after {
      content: '\f077';
      font-family: "Font Awesome 6 Pro"; }

.footer .footer-title {
  font-size: inherit;
  text-transform: capitalize;
  font-weight: bold; }
.footer ul li {
  margin-bottom: 1rem; }
  .footer ul li a {
    color: inherit !important; }
    .footer ul li a:hover {
      text-decoration: underline; }

@media (max-width: 768px) {
  .footer-download li {
    margin-bottom: 0 !important; }

  .footer-social li i {
    font-size: 1.6rem; } }
.hero-section {
  position: relative;
  height: 85vh; }
  .hero-section:after {
    position: absolute;
    content: '';
    background: linear-gradient(to top, black 0, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0) 45%) center no-repeat;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1; }
  .hero-section img {
    object-fit: cover; }
  .hero-section .hero-section-content {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    align-items: center;
    color: white;
    z-index: 10; }
    .hero-section .hero-section-content .button--link {
      color: inherit !important;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1.1rem;
      padding: 1.5rem; }
      .hero-section .hero-section-content .button--link i {
        font-size: 1.3rem; }
      .hero-section .hero-section-content .button--link:hover {
        opacity: .8; }
    .hero-section .hero-section-content .signUpBtn {
      padding: 0.8rem 2rem;
      color: white !important;
      border-radius: 10px;
      text-transform: capitalize;
      background-color: var(--secondary);
      font-weight: bold;
      text-transform: capitalize; }
      .hero-section .hero-section-content .signUpBtn:hover {
        filter: contrast(0.9); }

@media (min-width: 1400px) {
  .hero-section-content {
    bottom: 10%; } }
@media (max-width: 1400px) {
  .hero-section-content {
    bottom: 10px; } }
#trailerModal {
  color: white; }
  #trailerModal .signUpBtn {
    padding: 0.8rem 2rem;
    color: white !important;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: var(--secondary); }
  #trailerModal h1 {
    font-size: inherit; }
  #trailerModal .teacher-profile {
    width: 5rem;
    height: 5rem;
    display: flex;
    overflow: hidden;
    border-radius: 10rem; }
    #trailerModal .teacher-profile img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

video {
  width: 100%; }

#shareModal ul a {
  color: white;
  width: 4.2rem;
  height: 3.2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  font-size: x-large;
  justify-content: center; }
  #shareModal ul a.shareFacebook {
    background-color: #3c5a99; }
  #shareModal ul a.shareEnvelope, #shareModal ul a.responsiveCopyLink {
    background-color: #222326; }
  #shareModal ul a.shareTwitter {
    background-color: #2ba2ef; }
  #shareModal ul a.shareLinkedin {
    background-color: #0e76a8; }
  #shareModal ul a.shareTelegram {
    background-color: #0078ff; }
  #shareModal ul a.messageLink {
    background-color: #01db26; }
  #shareModal ul a:hover {
    opacity: 0.9; }
#shareModal .pageLink {
  pointer-events: none;
  cursor: not-allowed; }

.modal-backdrop {
  opacity: .96 !important; }

@media (max-width: 768px) {
  #shareModal ul {
    display: flex;
    gap: 1rem; }
    #shareModal ul li {
      flex-grow: 1; }
      #shareModal ul li a {
        width: 100%; } }
.courses-tab #navbar-courses-tab ul {
  border-width: 2px !important;
  margin: 0 !important; }
  .courses-tab #navbar-courses-tab ul a.nav-link {
    border-radius: 0;
    padding: 1rem 3rem;
    color: #6c757d !important; }
    .courses-tab #navbar-courses-tab ul a.nav-link.active {
      position: relative;
      background-color: transparent;
      color: var(--primary) !important; }
      .courses-tab #navbar-courses-tab ul a.nav-link.active:after {
        content: '';
        border-bottom: 2px solid var(--primary);
        width: 100%;
        position: absolute;
        bottom: -2px;
        left: 0; }

.video-button-item {
  background-color: var(--primary) !important;
  color: white !important;
  padding: 1rem;
  margin-bottom: 5px; }
  .video-button-item i {
    color: var(--secondary);
    font-size: x-large; }
  .video-button-item:hover {
    opacity: .9; }

.video-js .vjs-play-progress {
  background-color: var(--secondary) !important; }
  .video-js .vjs-play-progress::before {
    display: none !important; }

.video-js .vjs-time-control {
  display: block !important; }

.video-js .vjs-remaining-time {
  display: none !important; }

.vjs-control-bar {
  font-size: 0.8rem;
  z-index: 2; }

.vjs-progress-control.vjs-control {
  top: -1.5rem;
  position: absolute !important;
  right: 0;
  height: .3em;
  left: 0;
  width: 100% !important; }
  .vjs-progress-control.vjs-control .vjs-progress-holder.vjs-slider {
    height: 1rem !important;
    margin: 0 !important; }

.vjs-playback-rate.vjs-menu-button {
  margin-left: auto !important; }

.vjs-tech {
  object-fit: cover; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  display: none;
  z-index: 1; }

.video-wrapper {
  position: relative;
  padding-bottom: 50%;
  height: 0; }
  .video-wrapper .video-js {
    position: absolute;
    height: 100% !important;
    right: 0;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0; }
    .video-wrapper .video-js .vjs-control-bar {
      background-color: transparent !important; }
  .video-wrapper .overlay .btn {
    padding: 0.8rem 2rem;
    color: white !important;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: var(--secondary);
    font-weight: bold; }
  .video-wrapper .vjs-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: none !important;
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50% !important;
    padding: 0 !important;
    line-height: 2 !important;
    background-color: rgba(0, 0, 0, 0.4) !important; }

.vjs-poster img {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
