@import "assets/scss/colors";


:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
}

body {
  margin: 0;
  padding: 0;
  font-family: Figtree, IranSans;
}

@mixin button {
  padding: 0.8rem 2rem;
  color: white !important;
  border-radius: 10px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-transform: capitalize;
}

input:focus {
  box-shadow: none !important;
}

.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);


}

.slider {
  //position: relative;

  //&:after {
  //  position: absolute;
  //  content: '';
  //  background: linear-gradient(
  //                  to top,
  //                  rgba(0, 0, 0, 1) 0,
  //                  rgba(0, 0, 0, 0.6) 25%,
  //                  rgba(0, 0, 0, 0) 45%
  //  ) center no-repeat;
  //  right: 0;
  //  left: 0;
  //  bottom: 0;
  //  top: 0;
  //  z-index: 1;
  //
  //}

  img {
    width: 100%;
  }
}

.btn {
  border: none !important;
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

.dropdown-menu {
  text-align: left;
  border: none;
  overflow: hidden;
  max-width: 400px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);

  a {
    white-space: pre-wrap;
    padding: 0.6rem;
    color: inherit !important;

    &:active {
      background-color: var(--bs-dropdown-link-hover-bg);
    }
  }

  &.category-dropdown {
    button {
      background-color: var(--primary) !important;
      color: white !important;
      padding: 0.8rem;
      border-radius: 0.5rem;
    }
  }

  &.search-dropdown {
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:after {
            content: '\f054';
            font-family: "Font Awesome 6 Pro";
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  &.category-dropdown .dropdown-body, &.search-dropdown .dropdown-header {
    border-bottom: 1px solid var(--bs-dropdown-link-hover-bg);


  }


  .dropdown-body {
    max-height: 65vh;


  }

  .dropdown-list {

    overflow-y: auto;
    flex-wrap: nowrap;
  }


}

.offcanvas {
  ul {
    a {
      padding: 0.6rem;
      display: block;
    }
  }
}

@media (min-width: 540px) {

}

@media (max-width: 540px) {
  .CategoryPickerTabList {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
}

.CategoryPickerTabList {
  gap: 1rem;
  display: flex;
  justify-content: center;

  button {
    background-color: #eee !important;
    padding: 0.7rem 1rem;
    text-transform: capitalize;

    &.active {
      background-color: transparent !important;
      border: 1px solid var(--secondary) !important;
      color: var(--secondary)
    }

    &:hover {

    }
  }

  i {
    margin-right: 1rem;
  }
}

.trendingSwiper, .cookSwiper, .reviewsSwiper {
  padding-bottom: 2.5rem;
}

.trendingSlide {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #191c21 0, rgba(25, 28, 33, .5) 50%, rgba(25, 28, 33, 0) 90%) 50% no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .trendingSlideContent {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    .separator {
      width: 1rem;
      height: 4px;
      background: white;
    }
  }
}

.swiper-button-prev, .swiper-button-next {

  &:after {
    content: '' !important;
  }

  //i {
  color: white;
  z-index: 10;
  background: var(--primary);
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0;

  &:hover {
    filter: contrast(0.8);
  }

  //}


}

.trending-swiper, .cook-swiper {
  .trendingSwiper, .cookSwiper {
    overflow: visible;

  }

  .swiper-button-prev, .swiper-button-next {
    //top: 0;
    //height: 100%;
    //margin-top: 0;
    position: relative;

    &:after {
      content: '';
    }

    &.swiper-button-disabled {
      //display: none!important;
    }

    //&:not(.swiper-button-disabled) {
    //  width: 7rem;
    //
    //  &:after {
    //    position: absolute;
    //    content: '';
    //
    //    height: 100%;
    //    width: 100%;
    //  }
    //
    //  &.swiper-button-next {
    //    &:after {
    //      background: linear-gradient(to left, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 16px, rgba(255, 255, 255, 0) 100%) center center no-repeat;
    //    }
    //  }
    //
    //  &.swiper-button-prev {
    //    &:after {
    //      background: linear-gradient(to right, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 16px, rgba(255, 255, 255, 0) 100%) center center no-repeat;
    //    }
    //  }
    //}
    //
    //&.swiper-button-next {
    //  right: 0;
    //}
    //
    //&.swiper-button-prev {
    //  left: 0;
    //}
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border-radius: 10px;

    &.swiper-pagination-bullet-active {
      width: 1.5rem;
      background-color: var(--secondary);
    }
  }
}

.explore-btn {
  @include button;
  background: var(--primary);

}

.site-title {
  font-weight: bold;
}

.site-title, .see-more-btn {
  text-transform: capitalize;
  font-size: 1.1rem;

}

.see-more-btn {
  color: var(--primary);
}

.BusinessBanner {
  position: relative;
  display: flex;
  align-items: center;
  //height: 35rem;

  .business-banner-img {
    z-index: 1;

    img {
      object-fit: cover;
    }
  }

  .businessBannerContent-text {
    width: 22rem;
  }

  .businessBannerContent {
    //width: 65%;
    position: relative;
    display: flex;
    align-items: center;


    h1 {
      text-transform: uppercase;
      letter-spacing: -2px;

    }

    a {
      @include button;
      font-weight: bold;

      &.btn {
        background-color: var(--secondary);
      }
    }
  }

  .business-banner-bg {
    width: 100%;
    background: var(--primary);
    position: absolute;
    border-radius: 1rem;
    z-index: 0;
  }
}

//@media (min-width: 992px) {
//  .BusinessBanner {
//    height: 60vh;
//
//    .businessBannerContent {
//      width: 70%;
//
//      //left: 10%;
//      .business-banner-img {
//        height: 100%;
//      }
//    }
//  }
//}
//
//@media (max-width: 992px) {
//  .BusinessBanner {
//    height: 60vh;
//
//    .businessBannerContent {
//
//      //left: 10%;
//      .business-banner-img {
//        width: 50%;
//      }
//    }
//  }
//}
@media (max-width: 576px) {
  .business-banner-img {
    width: 45%;
  }
  .BusinessBanner .businessBannerContent-text {
    width: 80%;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .business-banner-img {
    height: 240px;
  }
  .BusinessBanner .businessBannerContent-text {
    width: 22rem;
  }
}

@media (min-width: 768px) {
  .business-banner-img {
    height: 310px;
  }
  .business-banner-bg {
    height: 290px;
  }
}

@media (min-width: 960px) {
  .business-banner-img {
    height: 410px;
  }
  .business-banner-bg {
    height: 366px;
  }
}

@media (min-width: 1200px) {
  .business-banner-img {
    height: 500px;
  }
  .business-banner-bg {
    height: 412px;
  }
}

.review-content {


  .review-content-text {
    background-color: var(--primary);
    color: white;
    height: 330px;
    min-height: 300px;
    z-index: 1;


    blockquote {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 992px) {
  .review-content {
    .review-content-text {
      padding: 4rem;

      blockquote {
        font-size: 1.3rem;
      }
    }
  }

}

@media (max-width: 992px) {
  .review-content {
    .review-content-text {
      padding: 3rem;

      blockquote {
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .review-content-img img, .review-content-text {
    border-radius: 1rem;
  }
  .review-content-text {
    margin-right: -7rem;
  }
  .business-banner-bg {
    //height: 80%;
  }
}

@media (max-width: 768px) {
  .review-content {
    border-radius: 1rem;
    overflow: hidden;

    .review-content-text {
      padding: 2rem;

    }
  }
  .review-content-img {
    img {
      height: 10rem;
      object-fit: cover;
    }

  }
  .business-banner-bg {
    height: 100%;
    margin-top: 3rem;
  }
}

.accordion-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

#faqAccordion {

  .accordion-item {
    margin-bottom: 1rem;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    .accordion-button {
      background: transparent;
      color: inherit;
      box-shadow: none;
      padding: 1.2rem;

      &:focus {
        box-shadow: none;
      }

      &:after {
        content: '\f078';
        font-family: "Font Awesome 6 Pro";
        background: none;
      }

      &:not(.collapsed)::after {
        content: '\f077';
        font-family: "Font Awesome 6 Pro";

      }
    }
  }
}

.footer {
  .footer-title {
    font-size: inherit;
    text-transform: capitalize;
    font-weight: bold;
  }

  ul {
    li {
      margin-bottom: 1rem;

      a {
        color: inherit !important;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .footer-download {
    li {
      margin-bottom: 0 !important;
    }
  }
  .footer-social {
    li {
      i {
        font-size: 1.6rem;
      }
    }
  }
}