@import "assets/scss/colors";

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
}

body {
  margin: 0;
  padding: 0;
  font-family: Figtree, IranSans;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);

  ul {
    text-transform: capitalize;
  }

}

.slider {
  img {
    width: 100%;
  }
}

.btn {
  border: none !important;
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

.dropdown-menu {
  text-align: left;
  border: none;
  overflow: hidden;
  max-width: 400px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);

  a {
    white-space: pre-wrap;
    padding: 0.6rem;
    color: inherit !important;

    &:active {
      background-color: var(--bs-dropdown-link-hover-bg);
    }
  }
  &.category-dropdown {
    button {
      background-color: var(--primary) !important;
      color: white !important;
      padding: 0.8rem;
      border-radius: 0.5rem;
    }
  }
  &.category-dropdown .dropdown-body, &.search-dropdown .dropdown-header {
    border-bottom: 1px solid var(--bs-dropdown-link-hover-bg);


  }


  .dropdown-body {
    max-height: 65vh;


  }

  .dropdown-list {

    overflow-y: auto;
    flex-wrap: nowrap;
  }


}

